.span-18.info.round
  .infoText
    = form_for(@comment) do |f|
      = render 'shared/error_messages'
      .field
        - str = 'Comment'
        = f.label str
        %br
        = f.text_area :body
      .field
        - str = 'Email'
        = f.label str
        %i.quiet.medium (optional)
        %br
        = f.text_field :email
      .actions
        = f.submit 'Send'
      lwrunner1@gmail.com