<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
	  <% str = 'City'%>
    <%= f.label str %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
	  <% str = 'Dates'%>
    <%= f.label str %><br />
    <%= f.text_field :dates %>
  </div>
	<div class="field">
	  <% str = 'Keywords'%>
    <%= f.label str %><br />
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <% str = 'Max # of bands for playlist, optional'%>
    <%= f.label str %><br />
    <%= f.text_field :maxNumberOfBands, :value => "#{$DEFAULT_MAXBANDS}" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Playlist" %>
  </div>
<% end %>
