<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :Enter_Web_Page %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <p>
	  Sites supported : <br />
	  http://thephoenix.com/Boston/Concerts/search/ <br />
	  http://portland.thephoenix.com/Concerts/search/ <br />
	  http://providence.thephoenix.com/Concerts/search/
	</p>
<% end %>
