<font size="5">lennylonglegs - create concert calendar and playlist</font> </br></br>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <% str = 'City'%>
    <%= f.label str %>
    <i class="quiet small">(San Francisco, 94035, ... )</i><br/>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <% str = 'Dates'%>
    <%= f.label str %>
    <i class="quiet small">(Today, This week, Next week, September, ... )</i><br/>
    <%= f.text_field :dates %>
  </div>
  <div class="field">
    <% str = 'Venue, Band or Genre'%>
    <%= f.label str %>
    <i class="quiet small">(The Fillmore, Rubblebucket, Jazz, ... )</i><br/>
    <%= f.text_field :keywords %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
<div align="right"> <img src="/images/LLL.png" alt="LLL" WIDTH="25" HEIGHT="25" /> </div>
