<div class = "span-17 prepend-1 last round new-search">

<font size="5">lennylonglegs - create concert calendar and playlist</font> </br></br>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <% str = 'City'%>
    <%= f.label str %>
    <i class="quiet small">(San Francisco, 94035, ... )</i><br/>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <% str = 'Dates'%>
    <%= f.label str %>
    <i class="quiet small">(Today, This week, Next week, September, ... )</i><br/>
    <%= f.text_field :dates %>
  </div>
  <div class="field">
    <% str = 'Venue, Band or Genre'%>
    <%= f.label str %>
    <i class="quiet small">(The Fillmore, Rubblebucket, Jazz, ... )</i><br/>
    <%= f.text_field :keywords %>
  </div>
	<div class="field">
	  <%= f.hidden_field :pageNumber,  :value => nil %>
	</div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<p>
<div id="fb-root"></div>
<script>(function(d, s, id) {	
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";	
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="lennylonglegs.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>

</div>
