<div class = "results span-18 round">

  <% unless @results.empty? %>
    <table class="results" summary="Results of Search">
      <tr>
        <td><b>Event</b></td>
        <td><b>Performer</b></td>
        <td><b>Date/Time</b></td>
        <td><b>Venue</b></td>
        <td><b>Details</b></td>
      </tr>
      <%= render @results %>
    </table>
    <%= will_paginate @results %>
		<% if ((@user.pageNumber != nil) && (defined? @user.max_pages) && (@user.pageNumber < @user.max_pages)) %>
		  <%= form_for(@user) do |f| %>
		    <div class="field">	
		      <%= f.hidden_field :city, :value => @user.city %>	
	        <%= f.hidden_field :start_date, :value => @user.start_date %>
	        <%= f.hidden_field :end_date, :value => @user.end_date %>	
		      <%= f.hidden_field :keywords, :value => @user.keywords %>	
		      <%= f.hidden_field :pageNumber,  :value => (@user.pageNumber + 1) %>
		      <%= f.hidden_field :sort_by,  :value => @user.sort_by %>		
		    </div>	
		    <tr>	
		      <td class="mid actions">	
		        <%= f.submit "More Concerts" %>
		      </td>	
		    </tr>	
		  <% end %>
		<% end %>
	<% else %>
	  <center> No concerts found, please consider broadening your search </center>
	
  <% end %>

</div>


<% valueStr = "" %>
<% unless @results.empty? %>
  <% @results.each do |result| %>
    <% unless result.track_spotify.nil? %>
      <% valueStr += result.track_spotify + "\n"%>
    <% end %>
  <% end %>
<% end %>

<% unless valueStr.blank? %>
  <div class = "spotify-results span-4 last border round">

    <!-- replace whitespace with %20 because that's the way FlashVars variable below likes it -->
    <% valueStr.gsub!(" ", "%20") %>
    <% if (client_browser_name == "notMobile") %>
      Click <%=  clippy( valueStr ) %> and paste to Spotify Play Queue 
      <%= text_area_tag 'spotify-results', valueStr %>
    <% end %>
  </div>
<% end %>

<% if ( (client_browser_name == "notMobile") && (@results.empty? == false) ) %>
<div id="sidebar" class = "spotify-results span-4 last border round">
<button id="clickForSpotify">Create Spotify Playlist</button>
<div id="spotify-intro"> Copy-paste to Spotify Play Queue </div>
<%= text_area_tag 'spotify-results', valueStr %>
</div>
<% end %>

<!-- Show the first available youTube video -->
<% unless @results.empty? %>
  <% @results.each do |result| %>
    <% unless result.you_tube_url.nil? %>
      <div>
	      <%= showYouTubeVideo(result.you_tube_url, result.band, result.name) %>
      </div>
    <% end %>
  <% end %>
<% end %>

