.results.span-18.round
  - unless @results.empty?
    %table.results{:summary => 'Results of Search'}
      %tr
        %td
          %b
            Event
        %td 
          %b
            Performer
        %td 
          %b
            Date/Time
        %td 
          %b
            Venue
        %td 
          %b
          Details
      = render @results
    %center
      = will_paginate @results
    - if ((@user.pageNumber != nil) && (defined? @user.max_pages) && (@user.pageNumber < @user.max_pages))
      = form_for(@user) do |f|
        .field
          = f.hidden_field :city, :value => @user.city
          = f.hidden_field :start_date, :value => @user.start_date
          = f.hidden_field :end_date, :value => @user.end_date
          = f.hidden_field :keywords, :value => @user.keywords
          = f.hidden_field :pageNumber, :value => (@user.pageNumber + 1)
          = f.hidden_field :sort_by,  :value => @user.sort_by
        %tr
          %td.mid.actions
            %center
              = f.submit "More Concerts"
  - else
    %center No concerts found, please consider broadening your search

- if ( (client_browser_name == "notMobile") && (@results.empty? == false) )
  .spotify-results.span-18.round#sidebar
    %center
      %button#clickForSpotify Create Spotify Playlist
      #spotify-intro
        %font{:color => '#FFFFFF'}
          Copy-paste to Spotify Play Queue
      = text_area_tag 'spotify-results', ""

/ Show the first available youTube video
- unless @results.empty?
  - @results.each do |result|
    - unless result.you_tube_url.nil?
      #youTubeID
        = UsersHelper.show_you_tube_video(result.you_tube_url, result.band, result.name)