<section class="round">
<% flash.each do |key, value| %>
  <!-- ><div class="flash <%= key %>"><%= value %></div> -->
  <% valueStr = "text=" + value %>
  <!-- replace whitespace with %20 because that's the way FlashVars variable below likes it -->
  <% valueStr.gsub!(" ", "%20") %>
  <% if (key == :success)%>
    <font size="6">Playlist Created</font> </br>
    <% if (client_browser_name == "notMobile") %>
      Click <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
        width="110"
        height="14"
        id="clippy_56b4b3e3a30b2685e34a2c9df8adce30ff7bdc6f">
        <param name="movie" value="clippy.swf"/>
        <param name="allowScriptAccess" value="always" />
        <param name="quality" value="high" />
        <param name="scale" value="noscale" />
        <param name="FlashVars" value=<%= valueStr %> />
        <param name="bgcolor" value="#ffffff" />
        <embed src="clippy.swf"
        width="210"
        height="28"
        name="clippy"
        quality="high"
        allowScriptAccess="always"
        type="application/x-shockwave-flash"
        pluginspage="http://www.macromedia.com/go/getflashplayer"
        FlashVars=<%= valueStr %>
      bgcolor="#ffffff"
      /> </object>
      <br> and paste to Spotify Play Queue </br>
      <font size="6">or ...</font> </br>
    <% end %>

    Copy the following text and paste to Spotify Play Queue 
	  </br>
	  <!-- cols and rows values don't do anything here, need to change screen.css> -->
	  <%= text_area_tag :reason, value, :cols=>2,:rows=>2 %>
	  </br>

	<% elsif (key == :warning)  %>
	  <% bandHistory = getBandHistory %>
	  <% spotifyBandHistory = getSpotifyBandHistory %>
	  <% trackHistory = getTrackHistory %>
	  <% eventHistory = getEventHistory %>
	  <% dateHistory = getDateHistory %>
	  <% venueHistory = getVenueHistory %>
	  <% detailsHistory = getDetailsHistory %>
	  </br>
	  <font size="6">Events Found</font>
	  <table border="1">
	    <%  i = 0 %>
	    <tr>
	      <td><b>Event</b></td>
	      <td><b>Date/Time</b></td>
	      <td><b>Venue</b></td>
	      <td><b>Band Name (Spotify)</b></td>
	      <td><b>Track (Spotify)</b></td>
	      <td><b></b></td>
	    </tr>
	    <%  bandHistory.each do |band| %>
	      <tr>
	        <td> <%= eventHistory[i] %> </td>
	        <td> <%= dateHistory[i] %> </td>
	        <td> <%= venueHistory[i] %> </td>
	        <td> <%= if (spotifyBandHistory[i] == nil) then "N/A" else spotifyBandHistory[i] end %> </td>
	          <td> <%= if (trackHistory[i] == nil) then "N/A" else trackHistory[i] end %> </td>
	            <!-- ><td> <%= detailsHistory[i] %></td> -->
	            <td> <a href="<%= detailsHistory[i] %>">More details</a> </td>
	      </tr>
	      <% i += 1 %>
	    <% end %>
	  </table>
	</br>
	<% else %>
	  <font size="6"><%= value %></font> 
	  </br>
	<% end %> 
<% end %>
</section>
