<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="search-form">
    <div class="span-5 prepend-1 ">
      <% str = 'City'%>
      <%= f.label str %>
      </br>
      <%= f.text_field :city, :size => 25 %>
    </div>
    <div class="span-5 ">
      <% str = 'Dates'%>
      <%= f.label str %>
      <%= f.text_field :dates, :size => 25 %>
    </div>
    <div class="span-5 last ">
      <% str = 'Venue...'%>
      <%= f.label str %>
      <%= f.text_field :keywords, :size => 25 %>
    </div>
		<div class="field">
		  <%= f.hidden_field :pageNumber,  :value => nil %>
		</div>
    </hr>
    <div class="span-17 prepend-1 last">
      <%= f.submit "Create" %>
    </div>
  </div>
<% end %>
