<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <table class="search-form" >
    <tr>
      <td class="left field">
        <% str = 'City'%>
        <%= f.label str %>
        <%= f.text_field :city %>
      </td>

      <td class="mid field"> 
        <% str = 'Dates'%>
        <%= f.label str %>
        <%= f.text_field :dates %>
      </td>

      <td class="right field">
        <% str = 'Venue...'%>
        <%= f.label str %>
        <%= f.text_field :keywords %>
      </td>
    </tr>


		<div class="field">
      <%= f.hidden_field :pageNumber,  :value => nil %>
		</div>

    <tr>
      <td class="mid actions">
        <%= f.submit "Create" %>
      </td>
    </tr>
  </table>

<% end %>

<% if (isLastPage == false) %>
  <%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.hidden_field :city, :value => (getLastCity) %>
      <%= f.hidden_field :dates, :value => (getLastDates) %>
      <%= f.hidden_field :keywords, :value => (getLastKeywords) %>
      <%= f.hidden_field :pageNumber,  :value => (getPageNumber) %>
    </div>
    <tr>
      <td class="mid actions">
        <%= f.submit "More Concerts" %>
      </td>
    </tr>
  <% end %>
<% end %>
