<tr>
  <td><%=  result.name  %></td>
  <td><%=  result.date_string  %></td>
  <td><%=  result.venue  %></td>
  <td><%=  result.band  %></td>
  <td><%=  result.track_name  %></td>
  <td><%=  link_to "YouTube", result.you_tube_url  %></td>
  <td><%=  link_to "Details", result.details_url  %></td>
</tr>
