<tr>
  <td><%=  result.name  %></td>
  <td><%=  result.date_string  %></td>
  <td><%=  result.venue  %></td>
  <td><%=  result.band  %></td>
  <td><%=  result.track_name  %></td>
  <td><%=  if (result.you_tube_url != nil)
           link_to("YouTube", result.you_tube_url, :target => '_blank') 
           end %></td>
  <td><%=  link_to("Details", result.details_url, :target => '_blank')  %></td>
</tr>
