<div class="span-18 info round">
	<div class="infoText">
		<%= form_for(@performer) do |f| %>
	    <%= render 'shared/error_messages' %>
	    <div class="field">
				<% str = 'Performer'%>
		    <%= f.label str %>
		    <i class="quiet medium">(for example, robert glasper)</i><br/>
	      <%= f.text_field :performer %>
	    </div>
		  <div class="field">
		    <% str = 'You Tube Code'%>
		    <%= f.label str %>
		    <i class="quiet medium">(for example, zDcjzdrkHDE)</i><br/>
		    <%= f.text_field :you_tube_url %>
		  </div>
	    <div class="actions">
	      <%= f.submit "Send" %>
	    </div>
	  <% end %>
  </div>
</div>