.span-18.info.round
  .infoText
    = form_for(@performer) do |f|
      = render 'shared/error_messages'
      .field
        - str = 'Performer'
        = f.label str
        %i.quiet.medium (for example, robert glasper)
        %br
        = f.text_field :performer
      .field
        - str = 'You Tube Code'
        = f.label str
        %i.quiet.medium (for example, zDcjzdrkHDE)
        %br
        = f.text_field :you_tube_url
      .actions
        = f.submit 'Send'